<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div id="topBar" style="height: 200px; background-color: rgb(23, 23, 84); outline: auto; outline-color: red;">
</div>
<div id="sideBar"
  style="display: flex;height: 50vh; width: 200px; background-color: rgb(84, 23, 25); outline: auto; outline-color: red;">
</div>
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button ngbNavLink>First</button>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink>Second</button>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<div id="main">
  <nav>
    <ul>
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>