<div class="card mb-4">
    <div class="card-body p-4">
        <div class="row align-items-center">
            <div class="col-md-2 d-flex justify-content-start">
                <div>
                    <p class="small text-muted mb-4 pb-2">User</p>
                    <p class="lead fw-normal mb-0">{{user}}</p>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-start">
                <div>
                    <p class="small text-muted mb-4 pb-2">Promotion Id</p>
                    <p class="lead fw-normal mb-0">{{promotion}}</p>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-start">
                <div>
                    <p class="small text-muted mb-4 pb-2">Date</p>
                    <p class="lead fw-normal mb-0">
                        {{date}}
                    </p>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-start">
                <div>
                    <p class="small text-muted mb-4 pb-2">Products</p>
                    <p class="lead fw-normal mb-0">
                        {{products.length}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>